<app-nav></app-nav>
<div class="error-container">
  <div class="error-content">
       <img 
      src="https://i.imgur.com/Zl6ZiWQ.jpeg" 
      alt="Error 404 - Batalla de gatos"
      class="error-image"
    >
    <br>
    
    <svg class="error-icon" viewBox="0 0 24 24">
      <path fill="#ff4757" d="M12,2C6.48,2,2,6.48,2,12s4.48,10,10,10s10-4.48,10-10S17.52,2,12,2z M13,17h-2v-2h2V17z M13,13h-2V7h2V13z"/>
    </svg>
    
    <h1>ERROR 404
     <br> ¡Oops! Página no encontrada</h1>
    <p>Lo sentimos, la página que buscas no existe o ha sido movida.</p>
    

  </div>
</div>