
<div class="sidebar">
  <h2>Mi Panel</h2>
  <ul class="nav-links">
    <li><a routerLink="/tareas"><span>📋</span> Tareas</a></li>
    <li><a routerLink="/newtarea"><span>➕</span> Crear Tareas</a></li>
    <li><a routerLink="/buzon"><span>👍</span> Buzon</a></li>
    <li><a routerLink="/contact"><span>🆕</span> Contactanos</a></li>
    <li><a routerLink="/mapa"><span>🗺️</span> Mapa del sitio</a></li>
    <li><a routerLink="/ayuda"><span>😨</span> Ayuda</a></li>
    <li><a routerLink="/error"><span>☠️</span> ?????</a></li>


    <hr style="border: 0; border-top: 1px solid rgba(255,255,255,0.2); margin: 20px 0;">

    <li><a routerLink="/chat"><span>🤖</span> ChatBot</a></li>
    <li><a routerLink="/login"><span>🚪</span> Salir</a></li>
  </ul>
</div>
